<div>
	<h1>{{error}}</h1>
</div>
<div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form method="post" action="" (ngSubmit)="onSubmit()" #loginForm="ngForm">
			<fieldset>
				<h2>Please Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
					<input type="text" name="username" id="username" class="form-control input-lg" #username="ngModel" ngModel [(ngModel)]="user.username" placeholder="enter your username" required>
					<div class="alert alert-danger" *ngIf="username.touched && !username.valid">username is required</div>
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control input-lg"  #password="ngModel" ngModel [(ngModel)]="user.password" placeholder="Password" required>
					<div class="alert alert-danger" *ngIf="password.touched && !password.valid">password is required</div>
				</div>
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Remember Me</button>
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					<a routerLink="/reset" class="btn btn-link pull-right">Forgot Password?</a>
				</span>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid" (click)="loginpage()" >Submit</button>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="" class="btn btn-lg btn-primary btn-block" routerLink="/register" >Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>